.DS_Store
node_modules/
.env
dist/
build/
.vscode/
"Arkusz_pyta\305\204_do_mentora_ProductQuest.docx"
"Paw\305\202owicka 61A.m4a"
"screencapture-martakorza-24430-bubbleapps-io-version-test-2025-12-01-18_48_48.jpg"

